* {
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* para centrar verticalmente */
    margin: 0;
    font-family: 'DM Serif Text', Arial, Helvetica, sans-serif;
    background-color: #fefae0;
}


.container{
    margin-top: 20px;
    width: 700px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.containerSketch {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}


.cajita {
    border: 1px solid #1b263b;
    
}

.color{
    background-color: pink;
}

#cleanGrid, #btnCreate{
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #432818;
    background-color: #b0c4b1;
    border: none;
    border-radius: 8px;
}

#cleanGrid:hover, #btnCreate:hover{
    background-color: #4a5759;
    color: #dedbd2;
}


#title{
    font-size: 68px;
    color: #432818;
    margin-bottom: -10px;
}
